<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true" android:enableOnBackInvokedCallback="false">
    <meta-data android:name="DEV_CLIENT_TRY_TO_LAUNCH_LAST_BUNDLE" android:value="false"/>
    <meta-data android:name="EXDevClientEmbeddedBundle" android:value="true"/>
    <meta-data android:name="EXDevMenuIsOnboardingFinished" android:value="true"/>
    <meta-data android:name="EXDevMenuShowFloatingActionButton" android:value="false"/>
    <meta-data android:name="EXDevMenuShowsAtLaunch" android:value="false"/>
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.ENABLE_BSDIFF_PATCH_SUPPORT" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|smallestScreenSize|assetsPaths" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="false" android:screenOrientation="portrait"/>
    <activity android:name=".ExpoRuntimeActivity" android:process=":expo" android:taskAffinity="${applicationId}.expo" android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:theme="@style/Theme.App.SplashScreen">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="edgez-devtools"/>
        <data android:scheme="exp+edgez-android-devtools"/>
      </intent-filter>
    </activity>
    <activity android:name="ai.edgez.androiddevtools.MainActivity" android:exported="true" android:launchMode="singleTask" android:label="@string/edgez_app_name" android:theme="@style/EdgezAppTheme" tools:replace="android:exported">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name="expo.modules.devlauncher.launcher.DevLauncherActivity" android:process=":expo" android:taskAffinity="${applicationId}.expo" android:excludeFromRecents="true"/>
    <activity android:name="expo.modules.devlauncher.compose.AuthActivity" android:process=":expo" android:taskAffinity="${applicationId}.expo" android:excludeFromRecents="true"/>
    <activity android:name="expo.modules.devlauncher.launcher.errors.DevLauncherErrorActivity" android:process=":expo" android:taskAffinity="${applicationId}.expo" android:excludeFromRecents="true"/>
  </application>
</manifest>